<div class="qa-app-title">
  Cohort Average Ratings Summary
</div>

<div style="display: flex; justify-content: center; margin-top: 20px">
  <mat-spinner [diameter]="70" *ngIf="loadingData"></mat-spinner>
</div>

<div *ngIf="!loadingData">
  <mat-card-subtitle style="color: #0060B9; margin-top: 20px;">
    Ratings by Cohort Table
  </mat-card-subtitle>

  <div>
    <app-cohort-table (shownCohortsChange)="cohortsToShow($event)" [cohortSummaryData]="(cohortSummary$ | async)">
    </app-cohort-table>
  </div>

  <div class="row">
    <mat-card-subtitle style="color: #0060B9; margin-top: 20px;">
      Ratings by Cohort Chart
    </mat-card-subtitle>

    <mat-form-field>
      <mat-label>Pathway</mat-label>
      <mat-select [formControl]="deleteThis" multiple>
        <!-- <mat-option *ngFor="let pathway of (insert data source)" [value]="pathway">{{pathway}}</mat-option> -->
        <mat-option [value]="deleteThis">deleteThis</mat-option>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          eeeeeeeee
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Version</mat-label>
      <mat-select [formControl]="deleteThis" multiple>
        <!-- <mat-option *ngFor="let pathwayVersion of (insert data source)" [value]="pathwayVersion">{{pathwayVersion}}</mat-option> -->
        <mat-option [value]="deleteThis">deleteThis</mat-option>
        <button mat-menu-item>Item 2</button>
      </mat-select>
    </mat-form-field>

  </div>

  <div>
    <app-cohort-chart [cohortsForGraph]="cohortsForGraph"></app-cohort-chart>
  </div>
</div>