<div class="qa-app-title">
  Cohort Average Ratings Summary
</div>

<div style="display: flex; justify-content: center; margin-top: 20px">
  <mat-spinner [diameter]="70" *ngIf="loadingData"></mat-spinner>
</div>

<mat-card *ngIf="!loadingData">
  <mat-card-subtitle style="color: #0060B9;">
    Ratings by Cohort Table
  </mat-card-subtitle>

  <mat-card-content>
    <app-cohort-table [cohortSummaryData]="(cohortSummary$ | async)"></app-cohort-table>
  </mat-card-content>

  <mat-card-subtitle style="color: #0060B9; margin-top: 20px;">
    Ratings by Cohort Chart
  </mat-card-subtitle>

  <button mat-button [matMenuTriggerFor]="menu">Pathway</button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor>
      <button mat-menu-item></button>
      <button mat-menu-item>Item 2</button>
    </ng-container>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Version</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-card-content>
    <app-cohort-chart [cohortSummaryData]="(cohortSummary$ | async)"></app-cohort-chart>
  </mat-card-content>
</mat-card>