<div style="display: flex; flex-direction: column; margin-top: 10px">

  <div style="flex-direction: row">
    <div class="qa-checkbox-grp-label">
      {{question.body}}
    </div>


    <section role="grid" name="portal-applications" class="checkbox-grid-width">
      <div class="app-card-container" *ngFor="let option of question.selectionOptionsList">
        <mat-card class="checkbox-card">
          <mat-grid-tile>
          </mat-grid-tile>
          <mat-card-content style="margin: 0 -16px -16px; white-space: nowrap">
            <mat-checkbox flex="auto" #matCheckBox class="checkbox-response" [value]="option" [disabled]="isDisabled"
              [checked]="matchesValue(option, questionResponse.responseValues)" (change)="setCheckResponse($event)"
              style="padding-right : 10px; word-wrap: normal;">
              {{option}}
            </mat-checkbox>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>

  <div style="display: flex; margin-top: 25px;" *ngIf="question.hasComment">
    <mat-form-field appearance="outline" class="textarea-response">
      <mat-label>Comments</mat-label>
      <textarea matInput [disabled]="isDisabled" [ngModel]="questionResponse?.comment?.content"
        (ngModelChange)="setComment($event)" [placeholder]="question.commentLabel"></textarea>
    </mat-form-field>
  </div>
</div>