<mat-radio-group class="qa-radio-btn-group">
  <div class="qa-radio-btn-grp-label">
    {{questionText}}
  </div>
  <div class="qa-radio-btn-layout">
    <div name="radio-btn-wrapper" class="qa-radio-btn-innerlayout" *ngFor="let entry of options">
      <p aria-hidden="true">{{entry}}</p>
      <mat-radio-button #matRadioButton color="primary" class="qa-radio-btn" [aria-label]="entry" value="{{entry}}"
        [disabled]="isDisabled" [checked]="matchedValue(entry)" (change)="setModel(matRadioButton.value)">
      </mat-radio-button>
    </div>

  </div>
</mat-radio-group>