table.mat-table.qa-table {

    &.loading {
        pointer-events: none;
        opacity: .5;
    }


    tr.mat-row {
        &.selectable {
            cursor: pointer;

            &:hover {
                background: map-get($map: $mat-light-theme-background, $key: 'hover');
            }
        }

        &.expanded {
            background: map-get($map: $mat-light-theme-background, $key: 'raised-button');
        }


        &.expander-row {
            height: 0;

            .row-detail {
                overflow: hidden;
            }
        }

        td.icon-cell {
            width: 40px; // Width of a standard icon button
        }

        td.mat-column-select {
            width: 40px;
        }
    }

    tr.mat-header-row {
        &.bulk-actions-row {
            background: map-get($map: $mat-light-theme-background, $key: 'app-bar');

            [bulk-action]:not(:first-of-type) {
                margin-left: 1rem;
            }
        }
    }


}

.qa-table-card {
    padding: 0 !important;
    overflow: hidden;

    .mat-progress-bar {
        position: absolute;
    }
}

.qa-table.outline {

    $border-style: 1px solid $dark-dividers;
    $border-radius: 4px;

    tbody tr {
        td {
            border-bottom: $border-style;

            &:first-of-type {
                border-left: $border-style;
            }

            &:last-of-type {
                border-right: $border-style;
            }
        }

        &:first-of-type td {
            border-top: $border-style;

            &:first-of-type {
                border-top-left-radius: $border-radius;
            }

            &:last-of-type {
                border-top-right-radius: $border-radius;
            }
        }

        &:last-of-type td {
            &:first-of-type {
                border-bottom-left-radius: $border-radius;
            }

            &:last-of-type {
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    .mat-column-addNew {
        border-bottom-style: none;
    }

    .expander-row:not(.expanded) {
        td {
            border-bottom-width: 0px;
        }
    }
}

*.ng-touched.ng-invalid[formcontrolname] .qa-table.outline {
    tbody tr {
        td {
            border-left-color: mat-color($qa-cv-standalone-warn) !important;
            border-left-width: 2px !important;

            border-right-color: mat-color($qa-cv-standalone-warn) !important;
            border-right-width: 2px !important;
        }

        &:first-of-type td {
            border-top-color: mat-color($qa-cv-standalone-warn) !important;
            border-top-width: 2px !important;
        }

        &:last-of-type td {
            border-bottom-color: mat-color($qa-cv-standalone-warn) !important;
            border-bottom-width: 2px !important;
        }
    }
}