mat-card {
    margin-bottom: 2rem;
}

.submit-button {
    margin-bottom: 2rem;
}


.loading-overlay {
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    background: #00000022;
    z-index:99;
    mat-spinner {
        margin: auto;
    }
}

.action-buttons {
    display: flex;
    button {
        margin: 1rem;
        min-width: 16%;
        width: auto;
        flex-direction: row;
        justify-content: left;
        text-align: center;
    }
    div{
    width: 100%; 
    display:flex; 
    flex-direction: row; 
    justify-content: left; 
    align-items: center;
    margin: 0% !important;
}
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// New

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$qa-cv-standalone-primary: mat-palette($mat-indigo);
$qa-cv-standalone-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$qa-cv-standalone-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$qa-cv-standalone-theme: mat-light-theme($qa-cv-standalone-primary, $qa-cv-standalone-accent, $qa-cv-standalone-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($qa-cv-standalone-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #efefef;
}

.router-wrapper {
    margin: 0 1rem;

    @media screen and (min-width: 480px) {
        margin: 0 4rem;
    }

    @media screen and (min-width: 768px) {
        margin: 0 8rem;
    }

    @media screen and (min-width: 1280px) {
        margin: 0 12rem;
    }

    @media screen and (min-width: 1680px) {
        margin: 0 20rem;
    }
}
