.checkbox-row{ 
    margin-top: 5px;
    display: flex;
}

.checkbox-div{
    font-size: 11px;
    color: rgba(22, 22, 22, 0.54);
    float: right;
}

.comment-body{
    margin-right: auto;
}

.muteColorChange{
    
}