name: QA Portal Angular

on:
  push:
    branches: 
      - 'feature/**'

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: Node
        uses: actions/setup-node@v1
        with:
          node-version: 12.8
      - name: Install dependencies
        working-directory: ./qa-portal-angular
        run: npm install
      - name: Build
        working-directory: ./qa-portal-angular
        run: npm run build -- --prod
